hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1.5em;
    font-size: 16px;
    font-weight: 400;
}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodapé {
        display: block;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link {
        text-decoration: none;
        color: var(--cinza-rodapé);
        margin-left: 0.6em;
    }

    .lista-rodapé__titulo {
        font-size: 14px;
        color: var(--cinza-letras);
    }

    .rodapé__titulo {
        font-weight: 400;
        font-size: 24px;
    }
}